@model EspacoPotencial.Areas.Cadastro.Models.Financeiro.cc

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastro</h1>

<h4>cc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContaCorrenteVendaIdOrigem" class="control-label"></label>
                <input asp-for="ContaCorrenteVendaIdOrigem" class="form-control" />
                <span asp-validation-for="ContaCorrenteVendaIdOrigem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContaCorrenteVendaId" class="control-label"></label>
                <input asp-for="ContaCorrenteVendaId" class="form-control" />
                <span asp-validation-for="ContaCorrenteVendaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContaCorrenteData" class="control-label"></label>
                <input asp-for="ContaCorrenteData" class="form-control" />
                <span asp-validation-for="ContaCorrenteData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContaCorrenteDebitoCredito" class="control-label"></label>
                <input asp-for="ContaCorrenteDebitoCredito" class="form-control" />
                <span asp-validation-for="ContaCorrenteDebitoCredito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContaCorrenteValor" class="control-label"></label>
                <input asp-for="ContaCorrenteValor" class="form-control" />
                <span asp-validation-for="ContaCorrenteValor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                 <a asp-action="Index" class="btn btn-secondary "><i class="fas fa-angle-double-left"></i> Voltar</a>
            </div>
        </form>
    </div>
</div>

<

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
